.v-dropdown-menu {
  $this: &;
  $slide-offset: 12px;

  position: relative;
  display: inline-block;

  &__trigger {
    position: relative;
  }

  &__container {
    position: absolute;
    top: 100%;
    bottom: auto;
    min-width: 230px;
    max-width: 100%;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  &--dropup & {
    &__container {
      top: auto;
      bottom: 100%;
    }
  }

  &--direction-left & {
    &__container {
      left: 0;
    }
  }

  &--direction-center & {
    &__container {
      left: 50%;
      transform: translateX(-50%) translateY(0);
    }
  }

  &--direction-right & {
    &__container {
      right: 0;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  // Default Transition
  .default-enter-active {
    transition: all 0.2s ease;
  }

  .default-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .default-enter-from,
  .default-leave-to {
    transform: translateY($slide-offset);
    opacity: 0;
  }

  &--mode-hover {
    .default-enter-from,
    .default-leave-active {
      transition-delay: 0.4s;
    }
  }

  &--dropup {
    .default-enter-from,
    .default-leave-to {
      transform: translateY(-$slide-offset);
    }
    &#{$this}--direction-center {
      .default-enter-from,
      .default-leave-to {
        transform: translateX(-50%) translateY(-$slide-offset);
      }
    }
  }

  &--direction-center {
    .default-enter-from,
    .default-leave-to {
      transform: translateX(-50%) translateY($slide-offset);
    }
  }
}
