/* extra */
.center-v {
  @include center(false, true);
}

.center-h {
  @include center(true, false);
}

.object-fit-contain {
  object-fit: contain !important;
}

.object-fit-cover {
  object-fit: cover !important;
}

.disabled {
  pointer-events: none !important;
  user-select: none !important;
}
