@charset "UTF-8";

/*

Selim Doyranlı
selimdoyranli.com
Github : @selimdoyranli
___________

TEAM : RadKod ✪
TEAM WEBSITE : www.RadKod.com

*/

::-moz-selection {
  background: #444;
  color: #fff;
}

::selection {
  background: #444;
  color: #fff;
}

html,
body {
  background: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  @include roboto-regular;
}
