// Shadows
$shadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

// Social Colors
$facebook-color: hsla(222, 47%, 40%, 1); // #365397
$twitter-color: hsla(198, 100%, 47%, 1); // #00a9f1
$linkedin-color: hsla(203, 100%, 35%, 1); // #006db3
$apple-color: hsla(0, 0%, 45%, 1); // #737373
$google-color: hsla(217, 89%, 61%, 1); // #4285f4
$google_plus-color: hsla(8, 74%, 53%, 1); // #e0452c
$youtube-color: hsla(0, 100%, 60%, 1); // #ff3333
$vimeo-color: hsla(200, 82%, 61%, 1); // #48b6ed
$pinterest-color: hsla(0, 78%, 45%, 1); // #ce1a19
$yelp-color: hsla(5, 100%, 38%, 1); // #c30f00
$dribbble-color: hsla(338, 82%, 60%, 1); // #ed4584
$amazon-color: hsla(36, 100%, 50%, 1); // #ff9700
$ebay-color: hsla(219, 89%, 30%, 1); // #083790
$skype-color: hsla(198, 100%, 48%, 1); // #00acf4
$instagram-color: hsla(208, 46%, 41%, 1); // #396d9a
$dropbox-color: hsla(206, 89%, 46%, 1); // #0d84de
$flickr-color: hsla(334, 100%, 46%, 1); // #ea0066
$github-color: hsla(0, 0%, 18%, 1); // #2f2f2f
$basecamp-color: hsla(121, 38%, 58%, 1); // #6bbd6d
$tumblr-color: hsla(210, 37%, 30%, 1); // #304c68
$foursquare-color: hsla(206, 72%, 45%, 1); // #207dc5
$box-color: hsla(204, 83%, 40%, 1); // #1277bc
